.index-carousel {
    .slick-prev {
        left: 0;
        z-index: 1;
        background-image: url("../img/Polygon2.png");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: left center;
        width: 60px;
        height: 60px;
        &::before {
            content: "";
        }
    }
    .slick-next {
        right: 0;
        z-index: 1;
        background-image: url("../img/Polygon1.png");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: right center;
        width: 60px;
        height: 60px;
        &::before {
            content: "";
        }
    }
    .slick-dots {
        bottom: 25px;
    }
    .slider-item {
        display: flex!important;
        padding: 20px;
        &-left {
            width: 70%;
            padding: 20px;
            &-inner {
                background-color: rgba(102, 51, 153, .5);
                border-radius: 20px;
                overflow: hidden;
                img {
                    width: 55%;
                    margin: auto;
                }
            }
        }
        &-right {
            width: 45%;
            padding: 20px;
            ul {
                li {
                    list-style-type: none;
                    border: 5px solid rgba(255, 255, 255, 0.25);
                    background-color: rgba(#ffe4c4, .8);
                    border-radius: 10px;
                    margin-bottom: 10px;
                    padding: 10px;
                    color: rgba(0, 0, 0, .55);
                    font-size: 20px;
                    font-weight: 500;
                    i {
                        color: violet;
                    }
                }
            }
        }
    }
}