.detail-container {
    .page-header {
        display: flex;
        align-items: center;
    }
    .detail-body {
        display: flex;
        @media (max-width:768px) {
            display: block;
        }
        &-left {
            width: 40%;
            @media (max-width:768px) {
                width: 100%;
            }
            padding: 10px;
            text-align: center;
            position: relative;
            img {
                width: 100%;
                background-color: steelblue;
                border-radius: 5px;
                @media (max-width:768px) {
                    width: 80%;
                }
            }
        }
        &-right {
            width: 60%;
            padding: 10px;
            @media (max-width:768px) {
                width: 100%;
            }
            p {
                font-size: 20px;
                color: rgba(black, .65);
                border-bottom: 1px solid #ccc;
                padding: 10px;
                .price {
                    background-color: rgba(#a52a2a, .8);
                    border-radius: 4px;
                    padding: 5px;
                    color: rgba(#fff, .85);
                    font-size: 30px;
                }
            }
            h1 {
                margin: 15px 0;
                color: rgba(#a52a2a, 0.65);
            }
            .price-layout {
                display: flex;
                justify-content: space-between;
                align-items: center;
                .detail-like {
                    display: block;
                    cursor: pointer;
                    i {
                        font-size: 25px;
                        color: rgba(165, 42, 42, 0.8);
                    }
                    i:hover {
                        font-weight: bold;
                    }
                }
            }
        }
        &-size {
            ul {
                li {
                    list-style-type: none;
                    display: inline-block;
                    width: 40px;
                    height: 40px;
                    background-color: rgba(0, 0, 0, .2);
                    line-height: 40px;
                    text-align: center;
                    border: 1px solid rgba(0,0,0,.055);
                    border-radius: 10px;
                    margin-right: 5px;
                }
            }
        }
        &-number {
            margin: 10px 0;
            padding: 10px 0;
            border-top: 1px solid #ccc;
            border-bottom: 1px solid #ccc;
            display: flex;
            align-items: center;
            span {
                font-size: 20px;
                margin: 0px 10px;
            }
            &-left {
                width: 50%;
            }
            &-right {
                width: 50%;
                text-align: right;
            }
        }
        &-sold {
            opacity: .6;
        }
    }
}

.related-product {
    margin-top: 20px;
}