.detail-container {
    .page-header {
        display: flex;
        align-items: center;
        h1 {
            span {
                background-color: rgba(#a52a2a, .8);
                border-radius: 4px;
                padding: 5px;
                color: rgba($white-color, .85);
            }
        }
    }
    .detail-body {
        display: flex;
        &-left {
            width: 40%;
            padding: 10px;
            img {
                width: 100%;
                background-color: steelblue;
                border-radius: 5px;
            }
        }
        &-right {
            width: 60%;
            padding: 10px;
            p {
                font-size: 20px;
            }
            h1 {
                margin: 15px 0;
                color: rgba($color: #a52a2a, $alpha: 0.65);
            }
        }
        &-size {
            ul {
                li {
                    list-style-type: none;
                    display: inline-block;
                    width: 40px;
                    height: 40px;
                    background-color: rgba(0, 0, 0, .2);
                    line-height: 40px;
                    text-align: center;
                    border: 1px solid rgba(0,0,0,.055);
                    border-radius: 10px;
                    margin-right: 5px;
                }
            }
        }
        &-number {
            margin: 20px 0px;
            span {
                font-size: 20px;
                margin: 0px 10px;
            }
        }
    }
}

.related-product {
    margin-top: 20px;
    .card {
        display: flex;
        flex-wrap: wrap;
        &-item {
            width: 33%;
            padding: 10px;
            &-inner {
                background-color: $white-color;
                border-radius: 5px;
                overflow: hidden;
                .card-img {
                    background-color: steelblue;
                    img {
                        width: 100%;
                    }
                }
                .card-body {
                    h3 {
                        padding: 10px;
                    }
                    p {
                        padding: 10px;
                        font-size: 14px;
                    }
                }
                .card-footer {
                    display: flex;
                    align-items: center;
                    .footer-left {
                        width: 50%;
                        background-color: tan;
                        text-align: center;
                        height: 40px;
                        line-height: 40px;
                    }
                    .footer-right {
                        width: 50%;
                        text-align: center;
                        height: 40px;
                        line-height: 40px;
                        background-color: cadetblue;
                    }
                }
            }
        }
    }
}