.login-container {
    .form-main {
        & div:not(div.item, div.form-error) {
            margin-top: 10px;
        }
        .item {
            display: flex;
            align-items: center;
            &-left {
                width: 20%;
                color: rgba(#000, .65);
            }
            &-right {
                width: 60%;
            }
        }
    }
}