.login-container {
    .form-main {
        width: 80%;
        margin: auto;
        @media (max-width:600px) {
            width: 100%;
        }
        .item {
            display: flex;
            margin-top: 10px;
            &-left {
                width: 20%;
                color: rgba(#000, .65);
                padding-top: 10px;
                @media (max-width:768px) {
                    width: 30%;
                }
            }

            &-right {
                width: 80%;
                @media (max-width:768px) {
                    width: 70%;
                }
            }
        }
    }

    .my-fb-login-btn {
        text-align: center;
        margin: 15px auto;
        i {
            margin-right: 10px;
            color: #1877f2;
        }
    }
}